:host {
  display: block;
}

section {
  margin-bottom: 43px;
  h2 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 15px;
  }
}

.accounts-hero {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 10% 20% 70%;
  grid-template-areas:
    'breadcrumb breadcrumb breadcrumb'
    '. attention attention'
    'hero attention attention';
  &__breadcrumb {
    grid-area: breadcrumb;
    span {
      color: #3b82f6;
    }
  }
  &__hero {
    grid-area: hero;
  }
  &__attention {
    grid-area: attention;
  }
}
