:host {
  display: block;
}
.status-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .status-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #596275;
    margin-right: 4px;
  }
  .status-title {
    font-size: 12px;
    line-height: 16px;
    color: #e5e7eb;
  }
}
