@use '../../../../styles.scss' as *;

:host {
  display: block;
}
.avatar {
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: $font-size-22;
  color: #fff;
  background: linear-gradient(to right, rgba(30, 64, 175, 1) 0%, rgba(30, 64, 175, 0.3) 100%);
  user-select: none;
  &--user {
    width: 48px;
    height: 48px;
  }
  &--originator {
    width: 32px;
    height: 32px;
    font-size: 13px;
    font-weight: 400;
  }
}
