/* app-shell.scss */
@use '../../../styles.scss' as *;

:host {
  display: block;
  color: var(--text);
}
.header {
  border-bottom: 1px solid $color-ui-border;
}
/* Shared container (desktop layout like your mock) */
.container {
  max-width: 1740px;
  margin: 0 auto;
  padding: 0 48px;
}
.bottom {
  padding-bottom: 48px;
}
@media (max-width: 1024px) {
  .container {
    padding: 0 24px;
  }
}

/* Accessibility helper */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* Header */

.app-header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  padding: 20px 0;
}

.app-header__title {
  margin: 0;
  font-weight: 400;
  font-size: $font-size-36;
  line-height: 24px;
  align-items: center;
}

@media (min-width: 768px) and (max-width: 1349px) {
  .app-header__title {
    font-size: $font-size-28;
    line-height: 24px;
  }
}

.app-header__actions {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
}

.app-header__search {
  display: block;
}

/* Main */
.app-main {
  padding: 24px 0;
}

.app-main__nav {
  margin-bottom: 24px;
}

.app-main__content {
  padding-bottom: 24px;
}
