<article class="card" [class]="classes()">
  <div class="header">
    @if (iconUrl()) {
      <img class="header__logo" [src]="iconUrl()" alt="{{ title() }}" />
    }
    <h3 class="header__title">{{ title() }}</h3>
    @if (dotsActive()) {
      <app-dots-bar winnability="{{ status() }}" class="header__dots"></app-dots-bar>
    }
  </div>
  <div class="card-content">
    <ng-content></ng-content>
  </div>
  @if (linkUrl()) {
    <div class="footer">
      <a [href]="linkUrl()" class="footer__link">{{ linkText() }} →</a>
    </div>
  }
</article>
