<div class="account-hero">
  <img class="account-hero__logo" src="../../../../../assets/Vector.svg" alt="" srcset="" />
  <!-- <div class="hero-title"> -->
  <h2 class="account-hero__title">{{ title() }}</h2>
  <div class="account-hero__info">
    <p>{{ addressLine1() }}</p>
    <p>{{ addressLine2() }}</p>
  </div>

  <!-- </div> -->
  <ul class="account-hero__list">
    @for (item of meta(); track item.id) {
      <li class="account-hero__list__item">
        <h3>{{ item.label }}</h3>
        <p>{{ item.value }}</p>
      </li>
    }
  </ul>
</div>
